---
import Container from '@components/Container.astro'
import Underline from '@components/illustrations/Underline.astro'
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon'
import { yearsOfExperience } from '@utils/experience'
import SquareWithOverlayedLines from './illustrations/SquareWithOverlayedLines.astro'
import DashPattern from './illustrations/DashPattern.astro'
import workstationImage1 from '@images/workstation-01.jpg'
import workstationImage2 from '@images/workstation-02.jpg'

const features = [
  {
    iconName: 'web-development',
    title: 'Web Applications',
    description:
      'From simple landing pages to large-scale, enterprise applications and everything in between.',
  },
  {
    iconName: 'controller',
    title: 'Video Games',
    description:
      'Retro-inspired games built using tools like Aseprite, PICO-8, Godot, and more.',
  },
  {
    iconName: 'tutorials',
    title: 'Programming Tutorials',
    description:
      'Writing and recording software engineering and game development tutorials.',
  },
]
---

<section
  class="relative bg-gradient-to-b from-slate-50 via-slate-50 to-white pb-40 pt-20 sm:pt-24 lg:pt-32 overflow-x-clip"
>
  <Container>
    {/* Section header */}
    <div
      class="mx-auto grid max-w-xl items-center gap-6 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:gap-16"
    >
      <div>
        <h2
          class="font-display text-4xl font-semibold text-slate-900 sm:text-5xl"
        >
          <span class="relative whitespace-nowrap">
            <Underline />

            <span class="relative text-amber-500">Full-stack</span>
          </span>
           software engineer, game developer & mentor
        </h2>
      </div>
      <div>
        <p class="text-lg leading-8 text-slate-700">
          For over {yearsOfExperience} years I've been working with individual creators,
          agencies and startups to craft captivating interactive experiences.
        </p>
      </div>
    </div>

    {/* Content */}
    <div
      class="mx-auto mt-16 grid max-w-xl gap-14 lg:mx-0 lg:mt-24 lg:max-w-none lg:grid-cols-12 lg:gap-7"
    >
      {/* Features with icons */}
      <div class="max-w-lg lg:col-span-4">
        <ul class="relative">
          {
            features.map(({ iconName, title, description }, index) => (
              <li>
                <div
                  class:list={[
                    {
                      'relative pb-24 lg:pb-20': index !== features.length - 1,
                    },
                  ]}
                >
                  {index !== features.length - 1 && (
                    <span
                      class="absolute bottom-4 left-10 top-24 -ml-px border border-dashed border-slate-300"
                      aria-hidden="true"
                    />
                  )}

                  <div class="relative flex space-x-7">
                    <div>
                      <span class="flex h-20 w-20 items-center justify-center rounded-full bg-slate-900 shadow-lg">
                        <Icon name={iconName} class="h-6 w-6 text-amber-50" />
                      </span>
                    </div>
                    <div>
                      <h3 class="font-display text-xl font-medium text-slate-900">
                        {title}
                      </h3>
                      <p class="mt-2.5 text-base text-slate-700">
                        {description}
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            ))
          }

          {/* Floating handwritten text with arrow */}
          <div class="absolute -bottom-36 -right-8 hidden gap-6 lg:flex">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="81"
              height="83"
              viewBox="0 0 81 83"
              fill="none"
              class="relative -top-2 h-auto w-20 text-slate-200"
            >
              <g clip-path="url(#clip0_112_68)">
                <path
                  d="M79.0279 62.2024C58.1227 60.567 37.0551 52.8379 23.5836 35.8709C19.6389 30.9027 16.5994 23.913 14.6598 17.809C14.25 16.519 14.0629 15.1736 13.8444 13.8392C13.6447 12.6204 8.83154 19.8767 8.22696 20.6903C1.76323 29.3888 8.93024 20.1844 10.9563 16.5611C12.5286 13.7492 13.3857 10.1847 15.3992 7.63962C17.0205 5.59024 20.2035 9.67344 21.5513 10.8281C22.9371 12.0152 33.1749 18.4514 29.1817 20.1187C22.0175 23.1101 14.7009 22.4979 7.21764 22.9016"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"></path>
              </g>
              <defs>
                <clipPath id="clip0_112_68">
                  <rect
                    width="85"
                    height="29"
                    fill="white"
                    transform="translate(21.4469 0.837036) rotate(46.0556)"
                  ></rect>
                </clipPath>
              </defs>
            </svg>
            <span
              class="inline-block max-w-[220px] -rotate-12 transform font-writing text-2xl tracking-wide text-slate-600"
            >
              The types of things I'm making
            </span>
          </div>
        </ul>
      </div>

      {/* Graphics */}
      <div class="lg:col-span-8 lg:pl-8 xl:pl-24">
        <div class="relative mx-auto w-full max-w-xl pb-32 lg:mx-0 lg:max-w-none">
          <SquareWithOverlayedLines />
          <div class="relative ml-auto w-4/5">
            <DashPattern />

            <div class="aspect-h-5 aspect-w-8">
              <Image
                src={workstationImage2}
                alt="Workstation setup"
                class="h-full w-full rounded-2xl object-cover object-center"
              />
            </div>
          </div>
          <div class="absolute bottom-0 left-0 w-1/2">
            <div class="aspect-h-6 aspect-w-7">
              <Image
                src={workstationImage1}
                alt="Keyboard and mouse"
                class="h-full w-full rounded-2xl object-cover object-center"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>
